/__pycache__
__pycache__/
**/__pycache__/
.ipynb_checkpoints
.ipynb_aml_checkpoints
*/.ipynb_checkpoints/*
*/.ipynb_aml_checkpoints/*
*.amltmp
*.amlignore
*.amlignore.amltmp
.DS_Store
.idea/
config*
.gitattributes

# Data files
*.csv.gz
*.zip
*.pickle
*.gpkg
*.parquet
*.csv
*.tif
*.xlsx
*.mapbox_token
*.pbf
*.html
*.amltmp
*.geojson
*.json
*.log
*.pyc 
*.yml
.env

data/population/*
data/ESP/*
!data/ESP/input/*.csv